
body {
    background-color: white;
}

.container {
    font-family: Arial, serif;
    position: absolute;
    top:10%;
    left:35%;
}


.persons-list {

    display: flex;
    flex-direction: column;
    padding: 2% 5% 5% 5%;
    height: auto;
    width: 30vw;
    box-shadow: 0 0 15px gray;
}
@media screen and (max-width: 600px) {
 .persons-list{
     width: 80vw;
 }
  h1{
      font-size: 1.5rem;
  }
  h3{
      font-size: 1rem;
  }
  .container{
      top:10vh;
      left: 6vw;
  }
  p{
      font-size: .875rem;
  }
}


.person {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}

.person-img {
    justify-content: left;
    border-radius: 50%;
    max-width: 80px;
    max-height: 80px;
    flex-grow: 1;
}

.person-data {
    flex-grow: 11;
    margin-left: 1rem;
}

p {
    color: gray;
}


.delete-button {
    color: gray;
    border: 1px solid white;
    background-color: white;
    border-radius: 5px;
    flex-grow: 1;
    cursor: pointer;
    font-size: 1.3rem;
}

.delete-button :hover {
    color: palevioletred;
}


.clear-button {
    font-size: 1.5rem;
    font-family: "Gill Sans", serif;
    color: white;
    border: 1px solid palevioletred;
    border-radius: 5px;
    background-color: palevioletred;
    width: 100%;
    height: 5vh;
    box-shadow: 0 0 10px gray;
    cursor: pointer;
}




